{# Components #}
{% from "components/atoms/Button.njk" import Button %}
{% from "components/organisms/Slider.njk" import Slider %}

{% macro Hero(data) %}

<article class="hero" data-id="{{ data.content.id }}">
  <div class="hero__content">
    <div class="container">
      <p class="hero__content__release" >{{ data.content.release_date.split('-', 1)[0] }}</p>
      <h1 class="hero__content__title">{{ data.content.title }}</h1>
      <p class="hero__content__description" >{{ data.content.overview }}</p>
      {{ Button({ text: 'Watch movie', link: '/movie/' + data.content.id }) }}
    </div>
  </div>

  {% if data.sliderContent %}
  <div class="hero__nav row">
    <div class="container">
      <h2 class="row__header">In Theatres</h2>
    </div>

    {{ Slider(data.sliderContent) }}
    
  </div>
  {% endif %}

  <div class="hero__background">
    <img src="https://image.tmdb.org/t/p/original{{ data.content.backdrop_path }}" alt="{{ data.content.title }}" />
  </div>
</article>
  
{% endmacro %}